/*--------------- basic styling --------------- */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #fff !important;
}


.whitespace {
    width: 100%;
    height: 100px;
}

@media(max-width: 768px) {
    .whitespace {
          display: none;
    }
}

/*--------------- typewriter effect --------------- */
.line {
    width: 50em;
    top: 50%;
    margin: auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: pre;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 3s steps(60) 1s 1 normal both,
    blinkTextCussor 500ms steps(60) infinite normal;
    animation-fill-mode: both;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 14.7em;
    }

}

@media(max-width: 768px) {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
      }

@keyframes blinkTextCussor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}


/*--------------- navigation --------------- */
nav {
    width: 100%;
    background: #0f0f0f;
    height: 85px;
    position: fixed;
    z-index: 1;
}


nav #brand {
    float: left;
    position: absolute;
    display: block;
    margin-left: 45px;
    line-height: 50px;
    font-weight: bold;
    font-size: 19px;
    margin-top: 17px;
    font-family: cursive;
    
    
}

nav #brand a {
    color: yellow !important;
    white-space: nowrap;
    transition: all 0.1s ease-out;
    position: fixed;
    float:left; 

    
}

nav #brand a:hover {
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300 bold;
    line-height: 80px;
    position: relative;
    transition: all 0.2s ease-out;
}

nav #menu li span {
    font-weight: 700;
    
}

nav #menu li a {
    color: #fff;
}

nav #menu li a:hover {
    text-decoration: none;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    padding: 10px 0;
    font-size: 50px;
    min-height: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 14px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 768px) {
    #toggle {
          visibility: visible;
          opacity: 1;
          margin-top: 6px;
          margin-right: 4px;
    }

    nav #brand {
          margin-left: 24px;
    }

    #menu a {
          font-size: 20px;
          font-weight: 300;
    }

    #resize li span {
          font-weight: bolder;
    }

    nav #menu {
          display: none;
    }
}

@media(min-width: 768px) {
    #resize {
          visibility: hidden !important;
    }
}


/*--------------- hero section --------------- */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edff57;
    padding: 100px 0;
    transform: skew(0deg, -10deg) translateY(-120px);
}
.header{
    padding: 150px 200px;
    transform: skew(0deg, 10deg);
    margin-top: 120px;
}

.hero h1 {
    font-weight: lighter;
    color: #0f0f0f;
    text-align: center;
    letter-spacing: -2px;
    line-height: 58px;
    
}


@media(max-width: 768px) {
    .header {
          font-size: 20px;
          width: 96%;
          padding: 0;
         
    }
}



/*--------------- scroll down icon animation --------------- */
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
    0% {
          transform: translate(0, -20px) rotate(45deg);
          opacity: 0;
    }
    50% {
          opacity: 1;
    }
    100% {
          transform: translate(0, 20px) rotate(45deg);
          opacity: 0;
    }
}

/*--------------- projects section --------------- */
h6 {
    text-align: center;
}

.vertical {
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 100px;
   
    position: absolute;
    left: 50%;
}

.project {
    height: 500px;
}

.project1 {
    background: url(https://66.media.tumblr.com/d8160c98059cbffe64caa9256bd0e2e1/tumblr_oxy6nkj02n1wety1ho1_1280.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project1::after {
    content: "Project 1.";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 8%;
    left: -60%;
    right: 0;
    bottom: 0;
}

.project2 {
    background: url(https://images.unsplash.com/photo-1540349220179-09d3866f2e74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80) no-repeat 50% 50%;
    background-size: cover;
}

.project2::after {
    content: "Project 2.";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 80%;
    left: 90%;
    right: 0;
    bottom: 0;
}

.project3 {
    background: url(https://images.unsplash.com/photo-1468870045442-e7d799d8c98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2448&q=80) no-repeat 50% 50%;
    background-size: cover;
}

.project3::after {
    content: "Project 3.";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 80%;
    left: -50%;
    right: 0;
    bottom: 0;
}

.project4 {
    background: url(https://66.media.tumblr.com/a5954d11efff42f1c0251a25dcd4b433/tumblr_our8oim0js1t0lolso1_1280.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project4::after {
    content: "Project 4.";
    font-family: "Roboto Mono";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 10%;
    left: 90%;
    right: 0;
    bottom: 0;
}

@media(max-width: 768px) {
    .project {
          width: 90% !important;
          margin: 14px auto;
    }

    .vertical {
          display: none;
    }

    .project1::after, .project2::after, .project3::after, .project4::after {
          display: none;
    }
}

/*--------------- footer section --------------- */

a{
    color: white !important ;
}
.collab {
    text-align: right;
}

.collab p {
    font-weight: lighter !important;
    margin-bottom: 20px;
}

.hr {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.info h4 {
    font-size: 18px;
    font-weight: lighter;
}

.info p {
    color: grey;
    font-weight: lighter;
}

.info li {
    font-weight: lighter;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

#gl::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #f79e19;
}


#ig::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #f0e004;
}


#tw::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #55acee;
}


#in::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #c4302b;
}

#media, #address {
    text-align: right;
}

#media ul {
    list-style: none;
}

#media ul li {
    display: inline-block;
}

@media(max-width: 768px) {
    .collab, #personal, #media, #address {
          text-align: center;
    }

    .info ul {
          margin: 0 0 0 -22px;
          padding: 0;
    }
}

/*--------------- work page --------------- */

.hero-content {
    margin-left: 0%;
}

.hero-content p {
    font-weight: 350 bold;
    line-height: 36px;
    color: grey;
    
}

.hero-content h6 {
    text-align: left;
}

@media(max-width: 768px) {
    .hero-content {
          padding-top: 50px;
          width: 96%;
          margin: 0 auto;
    }
}

/*---------------about page --------------- */

.about {
    height: 500px;
    margin-top: 120px;
}

.image {
    background: url(http://selectmyspace.com/wp-content/uploads/2017/09/CleanDeskFeature-1080x675.jpg) no-repeat 50% 70%;
}
h3{
    color: #edff57;
}
/*--------------- contact form --------------- */

#contact-form {
    margin: 5% 1.4%;
}

#contact-form ul {
    list-style: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

#contact-form li {
    padding: 10px;
}

#contact-form li:last-of-type {
    border-bottom: none;
}

#contact-form label {
    display: block;
    font-size: .8em;
    color: #999;
    padding-left: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-weight: bolder;
}

input:focus {
    outline: none;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}

.textarea {
    border-bottom: 1px solid #dfdfdf;
}

.send {
    margin-left: 50px;
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: 2px;
}

.send:hover {
    background: #dfdfdf;
    color: #101010;
}

@media(max-width: 768px) {
    #contact-form {
          margin: 5% -8%;
          width: 98%;
    }
}

/*--------------- project page --------------- */

.prev, .next p {
    color: grey;
    font-weight: bold;
}

.prev p {
    text-align: left;
}

.next p {
    text-align: right;
}
/*----------------------- Skills section-------------*/

.progress {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
 
}
.progress div{
    justify-content: center;
    width: 90%;
    background-color: #edff57;
}

